body {
    font-family: Proxima Nova, monospace;
}

.header {
    background-color: #031E2A;
    padding: 10px 20px;
    top: 0;
    width: 100%;
    z-index: 3;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

#logo {
    padding-top: 12px;
    width: 104px;
}

.content {
    margin: 40px;
    max-width: 800px;
}

h1 {
    margin-bottom: 40px;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}

#connect_to_optly {
    height: 40px;
}

.lego-icon {
    color: #999999;
    height: 30px;
    width: 30px;
}

#settings_icon {
    margin-top: 8px;
}

.step {
    display: none;
}

.preview img {
    max-width: 150px;
    max-height: 150px;
}

#overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
}

#overlay * {
    position: relative;
    top: 30%;
}